<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{uuid}|%-5level|%logger{36}:%line]\t%msg%n</pattern>
        </layout>
    </appender>
    
    <appender name="service" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/service.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/service/service_%d{yyyyMMdd_HH}.log</FileNamePattern>            
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{uuid}|%-5level|%logger{36}:%line]\t%msg%n</pattern>
        </layout>
    </appender>
    
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/error/error_%d{yyyyMMdd_HH}.log</FileNamePattern>            
        </rollingPolicy> 
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{uuid}|%-5level|%logger{36}:%line]\t%msg%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>           
        </filter>
    </appender>
    
    <appender name="scheduler" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${catalina.base}/logs/scheduler.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${catalina.base}/logs/scheduler/scheduler_%d{yyyyMMdd_HH}.log</FileNamePattern>            
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}|%X{uuid}|%-5level|%logger{36}:%line]\t%msg%n</pattern>
        </layout>
    </appender>
    
    <include resource="./context/log/logback.xml" />
    
</configuration>